
@{
    ViewData["Title"] = "Home - PolicyPro360";
    Layout = "_UserLayout";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<style>
    .customClass{
        height: 60px;
        width: 100%;
        border: 1px solid var(--insur-bdr-color);
        background-color: transparent;
        padding-left: 30px;
        padding-right: 30px;
        outline: none;
        font-size: 14px;
        color: var(--insur-gray);
        display: block;
        font-weight: 700;
        border-radius: 10px;
    }
</style>

<!--Main Slider Start-->
<section class="main-slider-nine">
    <div class="main-slider-nine__carousel owl-carousel owl-theme thm-owl__carousel" data-owl-options='{
         "items" : 1,
         "margin" : 0,
         "smartSpeed" : 700,
         "loop" :true,
         "autoplay" : true,
         "animateOut" : "fadeOut" ,
         "animateIn" : "fadeIn" ,
         "nav" :false,
         "dots" :true,
         "navText" : ["<span class=\"fas fa-chevron-left\"></span>","<span class=\"fas fa-chevron-right\"></span>"],
                "autoplayTimeout": 7000,
                "autoplayHoverPause": false
                }'>
             <!-- Slide 1: Life Insurance -->
        <div class="item">
    <div class="main-slider-nine__item">
        <div class="main-slider-nine__bg"
            style="background-image: url('@Url.Content("~/user/assets/images/update-15-2-2024/backgrounds/slider-9-1.jpg")');">
        </div>
        <div class="main-slider-nine__shape-one"><img src="~/user/assets/images/update-15-2-2024/shapes/slider-9-shape-1.png" alt="insur"></div>
        <div class="main-slider-nine__shape-two"><img src="~/user/assets/images/update-15-2-2024/shapes/slider-9-shape-2.png" alt="insur"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-left">
                    <div class="main-slider-nine__content">
                        <div class="main-slider-nine__title-wrapper">
                           <h2 class="main-slider-nine__title">Secure Your Future with Life Insurance</h2>
                        </div>
                        <div class="main-slider-nine__text-wrapper">
                            <p class="main-slider-nine__text">
                                Financial protection for your loved ones, even when you're not around.<br>
                                Explore flexible life coverage options designed just for you.
                            </p>
                        </div>
                        <div class="main-slider-nine__btn">
                            <a href="@Url.Action("life", "UserHome")" class="thm-btn thm-btn--eight">Discover More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



        <!-- Slide 2: Medical Insurance -->
        <div class="item">
    <div class="main-slider-nine__item">
        <div class="main-slider-nine__bg"
            style="background-image: url('@Url.Content("~/user/assets/images/update-15-2-2024/backgrounds/health.webp")');">
        </div>
        <div class="main-slider-nine__shape-one"><img src="~/user/assets/images/update-15-2-2024/shapes/slider-9-shape-1.png" alt="insur"></div>
        <div class="main-slider-nine__shape-two"><img src="~/user/assets/images/update-15-2-2024/shapes/slider-9-shape-2.png" alt="insur"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-left">
                    <div class="main-slider-nine__content">
                        <div class="main-slider-nine__title-wrapper">
                     <h2 class="main-slider-nine__title">Protect Your Health with Medical Insurance</h2>

                        </div>
                        <div class="main-slider-nine__text-wrapper">
                            <p class="main-slider-nine__text">
                                From hospital stays to medication, we've got you covered.<br>
                                Affordable healthcare protection for you and your family.
                            </p>
                        </div>
                        <div class="main-slider-nine__btn">
                            <a href="@Url.Action("medical", "UserHome")" class="thm-btn thm-btn--eight">Discover More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <!-- Slide 4: Home Insurance -->
        <div class="item">
        <div class="main-slider-nine__item">
            <div class="main-slider-nine__bg"
                 style="background-image: url('@Url.Content("~/user/assets/images/update-15-2-2024/backgrounds/slider-9-3.jpg")');">
            </div>
            <div class="main-slider-nine__shape-one"><img src="~/user/assets/images/update-15-2-2024/shapes/slider-9-shape-1.png" alt="insur"></div>
            <div class="main-slider-nine__shape-two"><img src="~/user/assets/images/update-15-2-2024/shapes/slider-9-shape-2.png" alt="insur"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-left">
                        <div class="main-slider-nine__content">
                            <div class="main-slider-nine__title-wrapper">
                             <h2 class="main-slider-nine__title">Protect Your Home with Trusted Insurance</h2>
                            </div>
                            <div class="main-slider-nine__text-wrapper">
                                <p class="main-slider-nine__text">
                                    Ensure your home is protected from fire, theft,<br>
                                    and natural disasters with our flexible plans.
                                </p>
                            </div>
                            <div class="main-slider-nine__btn">
                                <a href="@Url.Action("home", "UserHome")" class="thm-btn thm-btn--eight">Discover More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Main Slider End-->
<!--About Ten Start-->
<section class="about-ten">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-ten__image wow fadeInUp" data-wow-delay="00ms">
                    <img src="~/user/assets/images/update-15-2-2024/resources/about-ten-1.jpg" alt="insur">
                    <div class="about-ten__image__shape">
                        <img src="~/user/assets/images/update-15-2-2024/shapes/about-ten-shape.png" alt="insur">
                    </div>
                    <div class="about-ten__experience">
                        <div class="about-ten__experience__number">
                            <span class="odometer" data-count="40">00</span>
                            <span class="about-ten__experience__nuber__plus">+</span>
                        </div>
                        <p class="about-ten__experience__text">Years <br> Experience</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="100ms">
                <div class="about-ten__content">
                    <div class="section-title-seven text-left">
                        <span class="section-title-seven__tagline">
                            <span class="section-title-seven__tagline__icon">
                                <i class="insur-four-icon-check"></i>
                            </span>About Us
                        </span>
                        <h2 class="section-title-seven__title">We’re Providing Best Insurance Policy's</h2>
                    </div>
                    <p class="about-ten__content__text">
                        Affordable, secure, and tailored to your needs.
                        From health to home — we’ve got you covered.
                        Trusted by many, designed for peace of mind.
                    </p>
                    <div class="about-ten__content__bottom">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="about-ten__content__image">
                                    <img src="~/user/assets/images/update-15-2-2024/resources/about-ten-2.jpg"
                                         alt="insur">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="about-ten__fact-wrapper">
                                    <div class="about-ten__fact">
                                        <div class="about-ten__fact__icon">
                                            <span class="insur-four-icon-rating"></span>
                                        </div>
                                        <div class="about-ten__fact__number">
                                            <span class="odometer" data-count="66">00</span>
                                            <span class="about-ten__fact__nuber__count">%</span>
                                        </div>
                                        <p class="why-choose-seven__customer__text">Success Rate</p>
                                    </div>
                                    <div class="about-ten__fact about-ten__fact--last">
                                        <div class="about-ten__fact__icon">
                                            <span class="insur-four-icon-costumer"></span>
                                        </div>
                                        <div class="about-ten__fact__number">
                                            <span class="odometer" data-count="2350">00</span>
                                        </div>
                                        <p class="why-choose-seven__customer__text">Satisfied Clients</p>
                                    </div>
                                    <ul class="about-ten__list list-unstyled">
                                        <li>
                                            <span class="about-ten__list__icon">
                                                <i class="insur-four-icon-checked"></i>
                                            </span>Many Variations
                                            of Passages
                                        </li>
                                        <li>
                                            <span class="about-ten__list__icon">
                                                <i class="insur-four-icon-checked"></i>
                                            </span>Expert Many
                                            Variations
                                        </li>
                                    </ul>
                                    <a href="@Url.Action("about", "UserHome")" class="thm-btn thm-btn--eight">Discover More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--About Ten End-->
<!--Services Eight Start-->
<section class="services-nine"
         style="background-image: url(~/user/assets/images/update-15-2-2024/shapes/service-bg-two.png);">
    <div class="services-nine__bg"
         style="background-image: url(~/user/assets/images/update-15-2-2024/backgrounds/service-two-bg.jpg);"></div>
    <div class="container">
        <div class="section-title-seven text-center">
            <span class="section-title-seven__tagline">
                <span class="section-title-seven__tagline__icon">
                    <i class="insur-four-icon-check"></i>
                </span>Services
            </span>
            <h2 class="section-title-seven__title">We’re Covering All the<br> Insurance Services Files</h2>
        </div>
        <div class="row gutter-y-30">

            <!-- Motor Insurance -->
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="00ms">
                <div class="services-nine__single">
                    <div class="services-nine__single__content">
                        <div class="services-nine__single__icon">
                            <span class="fa-solid fa-car"></span>
                        </div>
                        <h3 class="services-nine__single__title">
                            <a href="motor-insurance.html">Motors Insurance</a>
                        </h3>
                        <p class="services-nine__single__text">
                            Protects your vehicle from accidents, theft, and natural disasters.
                            Covers damage repair, third-party liability, and more.
                            Drive with confidence — stay legally and financially secure.
                        </p>
                        <a class="services-nine__single__rm" href="@Url.Action("Motor", "UserHome")">
                            Read More<span class="insur-four-icon-right-arrow"></span>
                        </a>
                    </div>
                    <div class="services-nine__single__image">
                        <img src="~/user/assets/images/update-15-2-2024/resources/service-9-1.jpg" alt="insur">
                    </div>
                </div>
            </div><!--item-->
            <!-- Life Insurance -->
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                <div class="services-nine__single">
                    <div class="services-nine__single__image">
                        <img src="~/user/assets/images/update-15-2-2024/resources/service-9-2.jpg" alt="insur">
                    </div>
                    <div class="services-nine__single__content">
                        <div class="services-nine__single__icon">
                            <span class="fa-solid fa-heart"></span>
                        </div>
                        <h3 class="services-nine__single__title">
                            <a href="life-insurance.html">Life Insurance</a>
                        </h3>
                        <p class="services-nine__single__text">
                            Provides financial support to your family after your passing.
                            Covers expenses like debts, education, and daily needs.
                            Secure your loved ones’ future with trusted protection.
                        </p>
                        <a class="services-nine__single__rm" href="@Url.Action("Life", "UserHome")">
                            Read More<span class="insur-four-icon-right-arrow"></span>
                        </a>
                    </div>
                </div>
            </div><!--item-->
            <!-- Medical Insurance -->
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                <div class="services-nine__single">
                    <div class="services-nine__single__content">
                        <div class="services-nine__single__icon">
                            <span class="fa-solid fa-briefcase-medical"></span>
                        </div>
                        <h3 class="services-nine__single__title">
                            <a href="medical-insurance.html">Medical Insurance</a>
                        </h3>
                        <p class="services-nine__single__text">
                            Covers hospital stays, doctor visits, surgeries, and medications.
                            Protects you and your family from rising healthcare costs.
                            Stay healthy without financial worry or stress.
                        </p>
                        <a class="services-nine__single__rm" href="@Url.Action("medical", "UserHome")">
                            Read More<span class="insur-four-icon-right-arrow"></span>
                        </a>
                    </div>
                    <div class="services-nine__single__image">
                        <img src="~/user/assets/images/update-15-2-2024/resources/service-9-3.jpg" alt="insur">
                    </div>
                </div>
            </div><!--item-->

        </div>
    </div>
</section>
<!--Services Eight End-->

<!--Testimonial Eight Start-->
<section class="testimonial-nine">
    <div class="testimonial-nine__bg"
         style="background-image: url(~/user/assets/images/update-15-2-2024/shapes/testimonial-bg-two.png);"></div>
    <div class="container">
        <div class="testimonial-nine__wrapper">
            <div class="testimonial-nine__carousel owl-carousel owl-theme thm-owl__carousel" data-owl-options='{
                 "items" : 1,
                 "margin" : 0,
                 "smartSpeed" : 700,
                 "loop" :true,
                 "autoplay" : true,
                 "autoplayTimeout" : 10000,
                 "nav" :true,
                 "dots" :false,
                 "URLhashListener" :true,
                 "navText" : ["<span class=\"insur-four-icon-left-arrow\"></span>","<span class=\"insur-four-icon-right-arrow\"></span>"],
                 "items": 1
            }'>

            @if (ViewBag.testimonials != null)
            {
                    int count = 1;
                    foreach (var item in ViewBag.testimonials)
                    {
                            <div class="item" data-hash="item@count">
                                <div class="testimonial-nine__single">
                                    <div class="testimonial-nine__single__quote">
                                        <i class=" insur-four-icon-quote"></i>
                                    </div>
                                    <div class="testimonial-nine__single__rating">
                                        @for (int i = 0; i < item.Rating; i++)
                                        {
                                                <span class="fa fa-star"></span>
                                        }
                                    </div>
                                    <p class="testimonial-nine__single__text">
                                        @item.Feedback
                                    </p>
                                </div>
                            </div>
                            count++;
                    }
            }

            </div>

            <div class="testimonial-nine__carousel-thumb thm-owl__carousel owl-theme owl-carousel"
                 data-owl-options='{
                        "items": 3,
                        "margin": 28,
                        "smartSpeed": 700,
                        "loop":true,
                        "autoplay": true,
                        "autoplayTimeout": 10000,
                        "URLhashListener":true,
                        "center": true,
                        "dots":false
                 }'>

                @if (ViewBag.testimonials != null)
                {
                    int count = 1;
                    foreach (var item in ViewBag.testimonials)
                    {
                        <a href="#item@count" class="item" data-hash="item@count">
                            <span class="testimonial-nine__meta">
                                <span class="testimonial-nine__meta__name">@item.User.Name</span>
                                <span class="testimonial-nine__meta__designation">Customer</span>
                            </span>
                            <span class="testimonial-nine__meta-thumb">
                                <img src="~/admin/assets/images/profiles/@item.User.ProfileImagePath" alt="user image" />
                            </span>
                        </a>
                        count++;
                    }
                }

            </div>
        </div>
    </div>
</section>
<!--Team Eight Start-->
<section class="team-eight">
    <div class="container">
        <div class="section-title-seven text-center">
            <span class="section-title-seven__tagline">
                <span class="section-title-seven__tagline__icon">
                    <i class="insur-four-icon-check"></i>
                </span>Our Team Member
            </span>
            <h2 class="section-title-seven__title">Meet Our Experienced<br> Team People</h2>
        </div>
        <div class="row gutter-y-30">
            <!--Team Start-->
            <!--Team Start-->
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="00ms">
                <div class="team-eight__single">
                    <div class="team-eight__single__image">
                        <img src="~/user/assets/images/update-15-2-2024/team/team-8-1.jpg" alt="insur">
                    </div>
                    <div class="team-eight__single__hover">
                        <div class="team-eight__single__hover__iconwrap"><i class="fa fa-share-alt"></i></div>
                        <div class="team-eight__single__social">
                            <!-- social icons -->
                        </div>
                    </div>
                    <div class="team-eight__single__content">
                        <h3 class="team-eight__single__name"><a href="team-details.html">Amit Sharma</a></h3>
                        <span class="team-eight__single__designation">Claims Manager</span>
                    </div>
                </div>
            </div>

            <!--Team Start-->
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                <div class="team-eight__single">
                    <div class="team-eight__single__image">
                        <img src="~/user/assets/images/update-15-2-2024/team/team-8-2.jpg" alt="insur">
                    </div>
                    <div class="team-eight__single__hover">
                        <div class="team-eight__single__hover__iconwrap"><i class="fa fa-share-alt"></i></div>
                        <div class="team-eight__single__social">
                            <a href="https://facebook.com/">
                                <i class="fab fa-facebook-f"></i>
                                <span class="sr-only">Facebook</span>
                            </a>
                            <a href="https://twitter.com/">
                                <i class="fab fa-twitter" aria-hidden="true"></i>
                                <span class="sr-only">Twitter</span>
                            </a>
                            <a href="https://linkedin.com/">
                                <i class="fab fa-linkedin-in"></i>
                                <span class="sr-only">Linkedin</span>
                            </a>
                            <a href="https://www.instagram.com/">
                                <i class="fab fa-instagram"></i>
                                <span class="sr-only">Instagram</span>
                            </a>
                        </div><!-- /.team-card__social -->
                    </div>
                    <div class="team-eight__single__content">
                        <h3 class="team-eight__single__name"><a href="team-details.html">Neha Verma</a></h3>
                        <span class="team-eight__single__designation">Insurance Advisor</span>
                    </div>
                </div>
            </div>

            <!--Team Start-->
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                <div class="team-eight__single">
                    <div class="team-eight__single__image">
                        <img src="~/user/assets/images/update-15-2-2024/team/team-8-3.jpg" alt="insur">
                    </div>
                    <div class="team-eight__single__hover">
                        <div class="team-eight__single__hover__iconwrap"><i class="fa fa-share-alt"></i></div>
                        <div class="team-eight__single__social">
                            <a href="https://facebook.com/">
                                <i class="fab fa-facebook-f"></i>
                                <span class="sr-only">Facebook</span>
                            </a>
                            <a href="https://twitter.com/">
                                <i class="fab fa-twitter" aria-hidden="true"></i>
                                <span class="sr-only">Twitter</span>
                            </a>
                            <a href="https://linkedin.com/">
                                <i class="fab fa-linkedin-in"></i>
                                <span class="sr-only">Linkedin</span>
                            </a>
                            <a href="https://www.instagram.com/">
                                <i class="fab fa-instagram"></i>
                                <span class="sr-only">Instagram</span>
                            </a>
                        </div><!-- /.team-card__social -->
                    </div>
                    <div class="team-eight__single__content">
                        <h3 class="team-eight__single__name"><a href="team-details.html">Ravi Kapoor</a></h3>
                        <span class="team-eight__single__designation">Underwriting Specialist</span>
                    </div>
                </div>
            </div>

            <!--Team Start-->
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                <div class="team-eight__single">
                    <div class="team-eight__single__image">
                        <img src="~/user/assets/images/update-15-2-2024/team/team-8-4.jpg" alt="insur">
                    </div>
                    <div class="team-eight__single__hover">
                        <div class="team-eight__single__hover__iconwrap"><i class="fa fa-share-alt"></i></div>
                        <div class="team-eight__single__social">
                            <a href="https://facebook.com/">
                                <i class="fab fa-facebook-f"></i>
                                <span class="sr-only">Facebook</span>
                            </a>
                            <a href="https://twitter.com/">
                                <i class="fab fa-twitter" aria-hidden="true"></i>
                                <span class="sr-only">Twitter</span>
                            </a>
                            <a href="https://linkedin.com/">
                                <i class="fab fa-linkedin-in"></i>
                                <span class="sr-only">Linkedin</span>
                            </a>
                            <a href="https://www.instagram.com/">
                                <i class="fab fa-instagram"></i>
                                <span class="sr-only">Instagram</span>
                            </a>
                        </div><!-- /.team-card__social -->
                    </div>
                    <div class="team-eight__single__content">
                        <h3 class="team-eight__single__name"><a href="team-details.html">Priya Mehra</a></h3>
                        <span class="team-eight__single__designation">Customer Service Lead</span>
                    </div>
                </div>
            </div>
            <!--Team End-->
        </div>
    </div>
</section>
<!--Team Eight End-->
<!--Why Choose Seven Start-->
<section class="why-choose-eight">
    <div class="why-choose-eight__bg"
         style="background-image: url(~/user/assets/images/update-15-2-2024/shapes/why-choose-bg-two.png);"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="why-choose-eight__content">
                    <div class="section-title-seven text-left">
                        <span class="section-title-seven__tagline">
                            <span class="section-title-seven__tagline__icon">
                                <i class="insur-four-icon-check"></i>
                            </span>Why Choose Us
                        </span>
                        <h2 class="section-title-seven__title">
                            Why You should Choose Our<br> Insurance Policy's
                        </h2>
                    </div>
                    <p class="why-choose-eight__content__text">
                        Tailored plans for health, life, motor, and home insurance.
                        Easy process, quick claims, and full transparency.
                        Your safety and satisfaction are our priority.
                    </p>
                    <div class="why-choose-eight__content__border"></div>
                    <div class="why-choose-eight__box">
                        <div class="why-choose-eight__box__icon">
                            <span class="insur-four-icon-governance"></span>
                        </div>
                        <h3 class="why-choose-eight__box__title">Control <br>Over Policy</h3>
                        <div class="why-choose-eight__box__image">
                            <img src="~/user/assets/images/update-15-2-2024/resources/why-choose-two-1.jpg"
                                 alt="insur">
                            <a href="@Url.Action("policy", "UserHome")" class="why-choose-eight__box__image__rm">
                                <span class="insur-four-icon-right-arrow"></span>
                            </a>
                        </div>
                    </div>
                    <div class="why-choose-eight__box">
                        <div class="why-choose-eight__box__icon">
                            <span class="insur-four-icon-icon"></span>
                        </div>
                        <h3 class="why-choose-eight__box__title">Fast & Easy <br>Process</h3>
                        <div class="why-choose-eight__box__image">
                            <img src="~/user/assets/images/update-15-2-2024/resources/why-choose-two-2.jpg"
                                 alt="insur">
                            <a href="@Url.Action("makeaclaim", "UserHome")" class="why-choose-eight__box__image__rm">
                                <span class="insur-four-icon-right-arrow"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 wow slideInRight" data-wow-delay="100ms">
                <div class="insur-stretch-element-inside-column">
                    <div class="why-choose-eight__image">
                        <img src="~/user/assets/images/update-15-2-2024/resources/why-choose-eight-1.jpg" alt="insur">
                    </div>
                    <div class="why-choose-eight__shape">
                        <img src="~/user/assets/images/update-15-2-2024/shapes/why-choose-eight-shape.png" alt="insur">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Why Choose Seven End-->
<!--Get Insurance Six Start-->
<section class="get-insurance-six">
    <div class="get-insurance-six__shape"
         style="background-image: url(~/user/assets/images/update-15-2-2024/shapes/get-insurance-shape-two.png);"></div>
    <div class="container tabs-box">
        <div class="section-title-seven text-center">
            <span class="section-title-seven__tagline">
                <span class="section-title-seven__tagline__icon">
                    <i class="insur-four-icon-check"></i>
                </span>Tell us what we're doing well and where we can do better
            </span>
            <h2 class="section-title-seven__title">Your Opinion Matters:<br> Help Us Improve!</h2>
        </div>
   
        <div class="tabs-content">
            <div class="tab active-tab" id="motor-insurance">
                <div class="get-insurance-six__content">
                    <div class="row">
                        <div class="col-lg-12">
                            <form action="@Url.Action("SubmitTestimonial", "UserHome")" method="post" class="get-insurance-six__form">
                                @Html.AntiForgeryToken()
                                <div class="get-insurance-six__form__input">
                                    <input name="Rating" type="number" class="customClass" placeholder="Give your rating (1-5)" min="1" max="5" required />
                                </div>
                                <div class="get-insurance-six__form__input">
                                    <input name="Feedback" type="text" placeholder="Enter Your Feedback" required />
                                </div>
                                <button type="submit" class="thm-btn thm-btn--eight w-100">Give Feedback</button>
                            </form>

                            @if (TempData["SuccessMessage"] != null)
                            {
                                <div class="alert alert-success mt-3">@TempData["SuccessMessage"]</div>
                            }
                            @if (TempData["ErrorMessage"] != null)
                            {
                                <div class="alert alert-danger mt-3">@TempData["ErrorMessage"]</div>
                            }

                        </div>
                    </div>
                </div>
            </div><!-- motor-insurance -->
            
        </div>

    </div>
</section>
<!--Get Insurance Six End-->
<!--Feature Eight Start-->
<section class="feature-eight">
    <div class="container">
        <div class="row gutter-y-30">
            <!--Feature Start-->
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="00ms">
                <div class="feature-eight__single">
                    <h3 class="feature-eight__single__title"><a href="about.html">Safe Your Money</a></h3>
                    <p class="feature-eight__single__text">
                        Get affordable insurance with maximum coverage.
                        Avoid costly surprises with smart protection.
                        Secure your future — without overspending.
                    </p>
                    <div class="feature-eight__single__icon">
                        <span class="insur-four-icon-jar"></span>
                    </div>
                    <div class="feature-eight__single__image">
                        <img src="~/user/assets/images/update-15-2-2024/resources/feature-8-1.jpg" alt="insur">
                    </div>
                </div>
            </div>
            <!--Feature End-->
            <!--Feature Start-->
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                <div class="feature-eight__single">
                    <h3 class="feature-eight__single__title"><a href="contact.html">Get Free Quote</a></h3>
                    <p class="feature-eight__single__text">
                        No hidden fees — just quick, clear pricing.
                        Find the right insurance plan in minutes.
                        Start protecting what matters today, risk-free.
                    </p>
                    <div class="feature-eight__single__icon">
                        <span class="insur-four-icon-investment"></span>
                    </div>
                    <div class="feature-eight__single__image">
                        <img src="~/user/assets/images/update-15-2-2024/resources/feature-8-2.jpg" alt="insur">
                    </div>
                </div>
            </div>
            <!--Feature End-->
            <!--Feature Start-->
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
                <div class="feature-eight__single">
                    <h3 class="feature-eight__single__title"><a href="about.html">Fast & Reliable</a></h3>
                    <p class="feature-eight__single__text">
                        Quick insurance approvals with no delays.
                        Trusted service backed by satisfied customers.
                        Always here when you need us most.
                    </p>
                    <div class="feature-eight__single__icon">
                        <span class="insur-four-icon-banking"></span>
                    </div>
                    <div class="feature-eight__single__image">
                        <img src="~/user/assets/images/update-15-2-2024/resources/feature-8-3.jpg" alt="insur">
                    </div>
                </div>
            </div>
            <!--Feature End-->
        </div>
    </div>
</section>
<!--Feature Eight End-->
<!--CTA Eight Start-->
<section class="cta-eight">
    <div class="cta-eight__bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
         style="background-image: url(~/user/assets/images/update-15-2-2024/backgrounds/cta-bg.jpg);"></div>
    <div class="container">
        <div class="cta-eight__border wow fadeInUp"></div>
        <div class="row d-flex align-items-center wow fadeInUp" data-wow-delay="100ms">
            <div class="col-md-8">
                <div class="cta-eight__content">
                    <h5 class="cta-eight__sub-title">Be Happy to Get Insurance</h5>
                    <h3 class="cta-eight__title">Start Tracking Your Claims</h3>
                </div>
            </div>
            <div class="col-md-4">
                <a href="contact.html" class="thm-btn thm-btn--eight">Discover More</a>
            </div>
        </div>
    </div>
</section>
<!--CTA Eight End-->
<!--News Eight Start-->
<section class="news-eight">
    <div class="container">
        <div class="section-title-seven text-center">
            <span class="section-title-seven__tagline">
                <span class="section-title-seven__tagline__icon">
                    <i class="insur-four-icon-check"></i>
                </span>Article
            </span>
            <h2 class="section-title-seven__title">Latest News & Articles from<br> the Blog Posts</h2>
        </div>
        <div class="row">
            <!--News Eight Single Start-->
            <div class="col-xl-7 wow fadeInUp" data-wow-delay="00ms">
                <div class="news-eight__single">
                    <div class="news-eight__single__content">
                        <ul class="news-eight__single__meta">
                            <li>
                                <span class="fas fa-comments"></span><a href="news-details.html">2 Comment</a>
                            </li>
                            <li>
                                <span class="fas fa-user-circle"></span><a href="news-details.html">by Admin</a>
                            </li>
                        </ul>
                        <h3 class="news-eight__single__title">
                            <a href="news-details.html">
                                It is a Long
                                Established Fact that a Reader
                            </a>
                        </h3>
                        <p class="news-eight__single__text">It’s a proven fact that people trust clear, reliable, and secure insurance solutions.</p>
                    </div>
                    <div class="news-eight__single__image">
                        <img src="~/user/assets/images/update-15-2-2024/blog/news-8-1.jpg" alt="insur">
                        <a href="news-details.html" class="news-eight__single__image__link"></a>
                        <div class="news-eight__single__date">
                            <span class="news-eight__single__date__day">20</span>
                            <span class="news-eight__single__date__month">Jan</span>
                        </div>
                    </div>
                </div>
                <div class="news-eight__single">
                    <div class="news-eight__single__content">
                        <ul class="news-eight__single__meta">
                            <li>
                                <span class="fas fa-comments"></span><a href="news-details.html">2 Comment</a>
                            </li>
                            <li>
                                <span class="fas fa-user-circle"></span><a href="news-details.html">by Admin</a>
                            </li>
                        </ul>
                        <h3 class="news-eight__single__title">
                            <a href="news-details.html">
                                5 Essential Tips for
                                Managing whelming
                            </a>
                        </h3>
                        <p class="news-eight__single__text">Stay calm,prioritize tasks,take breaks,seek support,practice self-care to manage overwhelm effectively.</p>
                    </div>
                    <div class="news-eight__single__image">
                        <img src="~/user/assets/images/update-15-2-2024/blog/news-8-2.jpg" alt="insur">
                        <a href="news-details.html" class="news-eight__single__image__link"></a>
                        <div class="news-eight__single__date">
                            <span class="news-eight__single__date__day">20</span>
                            <span class="news-eight__single__date__month">Jan</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--News Eight Single End-->
            <!--News Eight Single Start-->
            <div class="col-xl-5 wow fadeInUp" data-wow-delay="200ms">
                <div class="news-eight__single news-eight__single--two">
                    <div class="news-eight__single__image">
                        <img src="~/user/assets/images/update-15-2-2024/blog/news-8-3.jpg" alt="insur">
                        <a href="news-details.html" class="news-eight__single__image__link"></a>
                    </div>
                    <div class="news-eight__single__content">
                        <div class="news-eight__single__date">
                            <span class="news-eight__single__date__day">20</span>
                            <span class="news-eight__single__date__month">Jan</span>
                        </div>
                        <ul class="news-eight__single__meta">
                            <li>
                                <span class="fas fa-comments"></span><a href="news-details.html">2 Comment</a>
                            </li>
                            <li>
                                <span class="fas fa-user-circle"></span><a href="news-details.html">by Admin</a>
                            </li>
                        </ul>
                        <h3 class="news-eight__single__title">
                            <a href="news-details.html">
                                See What is an Energy
                                and How to Protect
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <!--News Eight Single End-->
        </div>
    </div>
</section>
<!--News Eight End-->
