@{
    ViewData["Title"] = "Make a Home Claim - PolicyPro360";
    Layout = "_UserLayout";
}

<!--Page Header Start-->
<section class="page-header">
    <div class="page-header-bg" style="background-image: url('@Url.Content("~/user/assets/images/backgrounds/home-insurance-bg.jpg")')">
    </div>
    <div class="page-header-shape-1"><img src="~/user/assets/images/shapes/page-header-shape-1.png" alt=""></div>
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="index.html">Home</a></li>
                <li><span>/</span></li>
                <li><a href="make-a-claim.html">Make a Claim</a></li>
                <li><span>/</span></li>
                <li>Home Insurance Claims</li>
            </ul>
            <h2>Home Insurance Claims</h2>
        </div>
    </div>
</section>
<!--Page Header End-->
<!--Make a claim Start-->
<section class="make-a-claim">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-7">
                <div class="make-a-claim__left">
                    <h3 class="make-a-claim__title-1">Filing a Home Insurance Claim</h3>
                    <p class="make-a-claim__text-1">
                        Your home is your sanctuary, and we are here to help you
                        restore it after an unfortunate event. Whether it's damage from a fire, theft, or a
                        natural calamity, our claim process is designed to provide you with the necessary
                        financial support to rebuild and recover as smoothly as possible.
                    </p>
                    <div class="make-a-claim__img-and-points-box">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="make-a-claim__img">
                                    <img src="~/user/assets/images/backgrounds/home.jpg"
                                         alt="A family standing in front of their home">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="make-a-claim__points-box">
                                    <p class="make-a-claim__points-text">
                                        In case of an incident, please take
                                        these immediate steps to ensure safety and a smooth claim process:
                                    </p>
                                    <ul class="make-a-claim__points-list list-unstyled">
                                        <li>
                                            <div class="icon">
                                                <span class="fa fa-check"></span>
                                            </div>
                                            <div class="text">
                                                <p>
                                                    Take necessary steps to prevent further damage, if it's safe
                                                    to do so.
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="fa fa-check"></span>
                                            </div>
                                            <div class="text">
                                                <p>
                                                    Inform the relevant authorities (e.g., fire brigade, police)
                                                    immediately.
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="make-a-claim__title-2">Procedure for Home Claims</h3>
                    <p class="make-a-claim__text-2">
                        To ensure a swift resolution, please inform us about the
                        loss at the earliest. We will appoint a surveyor to assess the damage and guide you
                        through the documentation process.
                    </p>
                    <div class="make-a-claim__procedure-box">
                        <div class="make-a-claim__procedure-shape-1">
                            <img src="~/user/assets/images/update-10-02-2023/shapes/make-a-claim-procedure-shape-1.png"
                                 alt="">
                        </div>
                        <ul class="make-a-claim__procedure list-unstyled">
                            <li>
                                <div class="make-a-claim__procedure-icon-box">
                                    <div class="make-a-claim__procedure-icon">
                                        <span class=""><i class="fas fa-bell"></i></span>
                                    </div>
                                    <div class="make-a-claim__procedure-icon-count"></div>
                                </div>
                                <div class="make-a-claim__procedure-content">
                                    <h4 class="make-a-claim__procedure-title">Immediate<br>Intimation</h4>
                                </div>
                            </li>
                            <li>
                                <div class="make-a-claim__procedure-icon-box">
                                    <div class="make-a-claim__procedure-icon">
                                        <span class=""><i class="fas fa-file-alt"></i></span>
                                    </div>
                                    <div class="make-a-claim__procedure-icon-count"></div>
                                </div>
                                <div class="make-a-claim__procedure-content">
                                    <h4 class="make-a-claim__procedure-title">
                                        Damage Survey &<br>Documentation
                                    </h4>
                                </div>
                            </li>
                            <li>
                                <div class="make-a-claim__procedure-icon-box">
                                    <div class="make-a-claim__procedure-icon">
                                        <span class="insur-three-icon-contract"><i class="fas fa-tools"></i></span>
                                    </div>
                                    <div class="make-a-claim__procedure-icon-count"></div>
                                </div>
                                <div class="make-a-claim__procedure-content">
                                    <h4 class="make-a-claim__procedure-title">Repair &<br>Final Settlement</h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="make-a-claim__procedure-faq">
                        <div class="accrodion-grp" data-grp-name="faq-one-accrodion">
                            <div class="accrodion active">
                                <div class="accrodion-title">
                                    <h4>
                                        <span>?</span> What is the role of a surveyor in a home insurance claim?
                                    </h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            A surveyor is a licensed professional appointed by the insurance
                                            company to assess the extent and cause of the damage. They prepare a
                                            detailed report which is crucial for the claim settlement process.
                                        </p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                            <div class="accrodion">
                                <div class="accrodion-title">
                                    <h4>
                                        <span>?</span> What if the damage is minor? Should I still file a claim?
                                    </h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            It's important to consider your policy's 'deductible' (the amount you
                                            pay out-of-pocket). If the repair cost is less than or similar to
                                            your deductible, it might not be beneficial to file a claim as it
                                            could affect your future premiums.
                                        </p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                            <div class="accrodion last-chiled">
                                <div class="accrodion-title">
                                    <h4><span>?</span> What documents are needed for a theft claim at home?</h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            For a theft or burglary claim, a copy of the police report (FIR) is
                                            mandatory, along with the filled claim form and a list of stolen
                                            items with their estimated value.
                                        </p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="make-a-claim__right">
                    <div class="make-a-claim__claim-box">
                        <ul class="make-a-claim__claim-list list-unstyled">
                            <li class="active">
                                <a href="@Url.Action("MakeaMedicalclaim", "UserHome")">Health & Medical Claims<span class="icon-right-arrow1"></span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("MakeaMotorclaim", "UserHome")">Motor (Car/Bike) Claims<span class="icon-right-arrow1"></span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("MakeaLifeclaim", "UserHome")">Life Insurance Claims<span class="icon-right-arrow1"></span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("MakeaHomeclaim", "UserHome")">Home Insurance Claims<span class="icon-right-arrow1"></span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("MakeLoanAgainstPolicy", "UserHome")">Loan Against Policy<span class="icon-right-arrow1"></span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="insurance-details__need-help">
                        <div class="insurance-details__need-help-bg"
                             style="background-image: url('@Url.Content("~/user/assets/images/update-10-02-2023/resources/insurance-details-need-help-bg.jpg")')">
                        </div>
                        <div class="insurance-details__need-help-icon">
                            <span class="fa fa-phone"></span>
                        </div>
                        <h2 class="insurance-details__need-help-title">
                            We are here to help<br> in your time of
                            need
                        </h2>
                        <div class="insurance-details__need-help-contact">
                            <a href="tel:+9200368090">+92 (003) 68-090</a>
                            <p>Call our Dedicated Support Team</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Make a claim End-->