@{
    ViewData["Title"] = "Make a Claim - PolicyPro360";
    Layout = "_UserLayout";
}
<!--Page Header Start-->
<section class="page-header">
    <div class="page-header-bg" style="background-image: url('@Url.Content("~/user/assets/images/backgrounds/makeaclaim-bg.jpg")')">
    </div>
    <div class="page-header-shape-1"><img src="~/user/assets/images/shapes/page-header-shape-1.png" alt=""></div>
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="index.html">Home</a></li>
                <li><span>/</span></li>
                <li>How to Make a Claim</li>
            </ul>
            <h2>How to File a Claim</h2>
        </div>
    </div>
</section>
<!--Page Header End-->
<!--Make a claim Start-->
<section class="make-a-claim">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-7">
                <div class="make-a-claim__left">
                    <h3 class="make-a-claim__title-1">Filing an Insurance Claim: A Step-by-Step Guide</h3>
                    <p class="make-a-claim__text-1">
                        We understand that filing an insurance claim can happen
                        during a stressful time. Our goal is to make this process as simple, transparent, and
                        quick as possible. This guide will walk you through the necessary steps to ensure your
                        claim is handled efficiently.
                    </p>
                    <div class="make-a-claim__img-and-points-box">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="make-a-claim__img">
                                    <img src="~/user/assets/images/backgrounds/makeaclaim.jpg"
                                         alt="A person reviewing documents">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="make-a-claim__points-box">
                                    <p class="make-a-claim__points-text">
                                        Before you start, it's helpful to have
                                        a few things ready. This will speed up the process significantly.
                                    </p>
                                    <ul class="make-a-claim__points-list list-unstyled">
                                        <li>
                                            <div class="icon">
                                                <span class="fa fa-check"></span>
                                            </div>
                                            <div class="text">
                                                <p>Have your policy number and personal details handy.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="fa fa-check"></span>
                                            </div>
                                            <div class="text">
                                                <p>
                                                    Gather all relevant documents, such as medical bills or
                                                    accident reports.
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="make-a-claim__title-2">Our Simple 3-Step Claim Process</h3>
                    <p class="make-a-claim__text-2">
                        Follow these three simple steps to submit your claim. Our
                        team will take care of the rest and keep you updated throughout the assessment and
                        settlement process.
                    </p>
                    <div class="make-a-claim__procedure-box">
                        <div class="make-a-claim__procedure-shape-1">
                            <img src="~/user/assets/images/update-10-02-2023/shapes/make-a-claim-procedure-shape-1.png"
                                 alt="">
                        </div>
                        <ul class="make-a-claim__procedure list-unstyled">
                            <li>
                                <div class="make-a-claim__procedure-icon-box">
                                    <div class="make-a-claim__procedure-icon">
                                        <span><i class="fas fa-bell"></i></span>
                                    </div>
                                    <div class="make-a-claim__procedure-icon-count"></div>
                                </div>
                                <div class="make-a-claim__procedure-content">
                                    <h4 class="make-a-claim__procedure-title">Notify Us &<br>Initiate Claim</h4>
                                </div>
                            </li>
                            <li>
                                <div class="make-a-claim__procedure-icon-box">
                                    <div class="make-a-claim__procedure-icon">
                                        <span><i class="fas fa-file-upload"></i></span>
                                    </div>
                                    <div class="make-a-claim__procedure-icon-count"></div>
                                </div>
                                <div class="make-a-claim__procedure-content">
                                    <h4 class="make-a-claim__procedure-title">Submit Your<br>Documents</h4>
                                </div>
                            </li>
                            <li>
                                <div class="make-a-claim__procedure-icon-box">
                                    <div class="make-a-claim__procedure-icon">
                                        <span><i class="fas fa-file-invoice-dollar"></i></span>
                                    </div>
                                    <div class="make-a-claim__procedure-icon-count"></div>
                                </div>
                                <div class="make-a-claim__procedure-content">
                                    <h4 class="make-a-claim__procedure-title">Assessment &<br>Settlement</h4>
                                </div>
                            </li>
                        </ul>

                    </div>
                    <div class="make-a-claim__procedure-faq">
                        <div class="accrodion-grp" data-grp-name="faq-one-accrodion">
                            <div class="accrodion active">
                                <div class="accrodion-title">
                                    <h4><span>?</span> How long will it take to process my claim?</h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            The processing time varies depending on the type of claim and the
                                            completeness of the documents submitted. Typically, we aim to settle
                                            most claims within 7-15 working days.
                                        </p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                            <div class="accrodion">
                                <div class="accrodion-title">
                                    <h4><span>?</span> What happens if my claim is rejected?</h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            In case your claim is rejected, we will provide a detailed letter
                                            explaining the reasons. You will have the option to appeal the
                                            decision or seek further clarification from our support team.
                                        </p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                            <div class="accrodion last-chiled">
                                <div class="accrodion-title">
                                    <h4><span>?</span> Can I track the status of my claim online?</h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            Yes, once you file a claim, you can track its status in real-time
                                            through your user dashboard under the "My Applications" section.
                                        </p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="make-a-claim__right">
                    <div class="make-a-claim__claim-box">
                        <ul class="make-a-claim__claim-list list-unstyled">
                            <li class="active">
                                <a href="@Url.Action("MakeaMedicalclaim", "UserHome")">Health & Medical Claims<span class="icon-right-arrow1"></span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("MakeaMotorclaim", "UserHome")">Motor (Car/Bike) Claims<span class="icon-right-arrow1"></span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("MakeaLifeclaim", "UserHome")">Life Insurance Claims<span class="icon-right-arrow1"></span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("MakeaHomeclaim", "UserHome")">Home Insurance Claims<span class="icon-right-arrow1"></span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("MakeLoanAgainstPolicy", "UserHome")">Loan Against Policy<span class="icon-right-arrow1"></span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="insurance-details__need-help">
                        <div class="insurance-details__need-help-bg"
                             style="background-image: url('@Url.Content("~/user/assets/images/update-10-02-2023/resources/insurance-details-need-help-bg.jpg")')">
                        </div>
                        <div class="insurance-details__need-help-icon">
                            <span class="fa fa-phone"></span>
                        </div>
                        <h2 class="insurance-details__need-help-title">Need help with <br> your claim?</h2>
                        <div class="insurance-details__need-help-contact">
                            <a href="tel:+9200368090">+92 (003) 68-090</a>
                            <p>Call our Claim Experts</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Make a claim End-->