@{
    ViewData["Title"] = "Loan Against Policy - PolicyPro360";
    Layout = "_UserLayout";
}
<!--Page Header Start-->
<section class="page-header">
    <div class="page-header-bg" style="background-image: url('@Url.Content("~/user/assets/images/backgrounds/loan-policy-bg.jpg")')">
    </div>
    <div class="page-header-shape-1"><img src="~/user/assets/images/shapes/page-header-shape-1.png" alt=""></div>
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="index.html">Home</a></li>
                <li><span>/</span></li>
                <li><a href="make-a-claim.html">Make a Claim</a></li>
                <li><span>/</span></li>
                <li>Loan Against Policy</li>
            </ul>
            <h2>Loan Against Policy</h2>
        </div>
    </div>
</section>
<!--Page Header End-->
<!--Make a claim Start-->
<section class="make-a-claim">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-7">
                <div class="make-a-claim__left">
                    <h3 class="make-a-claim__title-1">Understanding Loan Against Insurance Policy</h3>
                    <p class="make-a-claim__text-1">
                        A Loan Against Policy (LAP) is a feature that allows you to
                        borrow funds against the surrender value of your life insurance policy. It's a
                        convenient way to meet your urgent financial needs without having to surrender your
                        policy and lose its benefits. This facility is typically available on traditional
                        endowment and money-back plans.
                    </p>
                    <div class="make-a-claim__img-and-points-box">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="make-a-claim__img">
                                    <img src="~/user/assets/images/backgrounds/loan-claim.jpg"
                                         alt="A person receiving financial support">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="make-a-claim__points-box">
                                    <p class="make-a-claim__points-text">
                                        Key advantages of opting for a loan
                                        against your policy include:
                                    </p>
                                    <ul class="make-a-claim__points-list list-unstyled">
                                        <li>
                                            <div class="icon">
                                                <span class="fa fa-check"></span>
                                            </div>
                                            <div class="text">
                                                <p>Lower interest rates compared to personal loans.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="fa fa-check"></span>
                                            </div>
                                            <div class="text">
                                                <p>No need for additional collateral or credit score checks.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="make-a-claim__title-2">Procedure to Apply for a Loan</h3>
                    <p class="make-a-claim__text-2">
                        Applying for a loan is simple. You just need to ensure your
                        policy is eligible and submit a few required documents. The loan amount is typically a
                        percentage of your policy's surrender value.
                    </p>
                    <div class="make-a-claim__procedure-box">
                        <div class="make-a-claim__procedure-shape-1">
                            <img src="~/user/assets/images/update-10-02-2023/shapes/make-a-claim-procedure-shape-1.png"
                                 alt="">
                        </div>
                        <ul class="make-a-claim__procedure list-unstyled">
                            <li>
                                <div class="make-a-claim__procedure-icon-box">
                                    <div class="make-a-claim__procedure-icon">
                                        <span class=""><i class="fas fa-clipboard-check"></i></span>
                                    </div>
                                    <div class="make-a-claim__procedure-icon-count"></div>
                                </div>
                                <div class="make-a-claim__procedure-content">
                                    <h4 class="make-a-claim__procedure-title">
                                        Check Eligibility<br>& Request
                                        Form
                                    </h4>
                                </div>
                            </li>
                            <li>
                                <div class="make-a-claim__procedure-icon-box">
                                    <div class="make-a-claim__procedure-icon">
                                        <span class=""><i class="fas fa-file-signature"></i></span>
                                    </div>
                                    <div class="make-a-claim__procedure-icon-count"></div>
                                </div>
                                <div class="make-a-claim__procedure-content">
                                    <h4 class="make-a-claim__procedure-title">
                                        Submit Loan<br>Agreement & KYC
                                    </h4>
                                </div>
                            </li>
                            <li>
                                <div class="make-a-claim__procedure-icon-box">
                                    <div class="make-a-claim__procedure-icon">
                                        <span class=""><i class="fas fa-hand-holding-usd"></i></span>
                                    </div>
                                    <div class="make-a-claim__procedure-icon-count"></div>
                                </div>
                                <div class="make-a-claim__procedure-content">
                                    <h4 class="make-a-claim__procedure-title">Loan Approval &<br>Disbursal</h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="make-a-claim__procedure-faq">
                        <div class="accrodion-grp" data-grp-name="faq-one-accrodion">
                            <div class="accrodion active">
                                <div class="accrodion-title">
                                    <h4><span>?</span> Which policies are eligible for a loan?</h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            Generally, only life insurance policies that have acquired a
                                            surrender value are eligible for a loan. This includes endowment
                                            plans and money-back policies. Term insurance plans are typically
                                            not eligible.
                                        </p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                            <div class="accrodion">
                                <div class="accrodion-title">
                                    <h4><span>?</span> How much loan can I get against my policy?</h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            You can typically get a loan of up to 80-90% of the surrender value
                                            of your policy. The exact percentage may vary between different
                                            insurance companies and plans.
                                        </p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                            <div class="accrodion last-chiled">
                                <div class="accrodion-title">
                                    <h4><span>?</span> What happens if I don't repay the loan?</h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            If the outstanding loan amount (principal + interest) exceeds the
                                            policy's surrender value, the policy may be terminated. In case of a
                                            death claim, the outstanding loan amount will be deducted from the
                                            final payout to the nominee.
                                        </p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="make-a-claim__right">
                    <div class="make-a-claim__claim-box">
                        <ul class="make-a-claim__claim-list list-unstyled">
                            <li class="active">
                                <a href="@Url.Action("MakeaMedicalclaim", "UserHome")">Health & Medical Claims<span class="icon-right-arrow1"></span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("MakeaMotorclaim", "UserHome")">Motor (Car/Bike) Claims<span class="icon-right-arrow1"></span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("MakeaLifeclaim", "UserHome")">Life Insurance Claims<span class="icon-right-arrow1"></span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("MakeaHomeclaim", "UserHome")">Home Insurance Claims<span class="icon-right-arrow1"></span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("MakeLoanAgainstPolicy", "UserHome")">Loan Against Policy<span class="icon-right-arrow1"></span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="insurance-details__need-help">
                        <div class="insurance-details__need-help-bg"
                             style="background-image: url('@Url.Content("~/user/assets/images/update-10-02-2023/resources/insurance-details-need-help-bg.jpg")')">
                        </div>
                        <div class="insurance-details__need-help-icon">
                            <span class="fa fa-phone"></span>
                        </div>
                        <h2 class="insurance-details__need-help-title">
                            We are here to help<br> in your time of
                            need
                        </h2>
                        <div class="insurance-details__need-help-contact">
                            <a href="tel:+9200368090">+92 (003) 68-090</a>
                            <p>Call our Dedicated Support Team</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Make a claim End-->
<!--Tracking Start-->
<section class="tracking">
    <div class="container">
        <div class="tracking__inner">
            <div class="tracking__left">
                <div class="tracking__icon" aria-hidden="true"><span class="icon-folder"></span></div>
                <div class="tracking__content">
                    <p class="tracking__sub-title">Quisque vel ortor</p>
                    <h3 class="tracking__title">Start tracking your claims</h3>
                </div>
            </div>
            <div class="tracking__btn-box">
                <a href="@Url.Action("TrackClaim", "UserHome")" class="thm-btn tracking__btn">Track Your Claim</a>
            </div>
        </div>
    </div>
</section>
<!--Tracking End-->