@{
    ViewData["Title"] = "Make a Life Claim - PolicyPro360";
    Layout = "_UserLayout";
}
<!--Page Header Start-->
<section class="page-header">
    <div class="page-header-bg" style="background-image: url('@Url.Content("~/user/assets/images/backgrounds/life-insurance-bg.jpg")')">
    </div>
    <div class="page-header-shape-1"><img src="~/user/assets/images/shapes/page-header-shape-1.png" alt=""></div>
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="index.html">Home</a></li>
                <li><span>/</span></li>
                <li><a href="make-a-claim.html">Make a Claim</a></li>
                <li><span>/</span></li>
                <li>Life Insurance Claims</li>
            </ul>
            <h2>Life Insurance Claims</h2>
        </div>
    </div>
</section>
<!--Page Header End-->
<!--Make a claim Start-->
<section class="make-a-claim">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-7">
                <div class="make-a-claim__left">
                    <h3 class="make-a-claim__title-1">Navigating a Life Insurance Claim</h3>
                    <p class="make-a-claim__text-1">
                        We understand that this is a difficult time for you and your
                        family. Our commitment is to provide you with the utmost support and make the claim
                        process as compassionate and straightforward as possible. This guide is designed to help
                        you, the nominee, through the necessary steps to receive the policy benefits.
                    </p>
                    <div class="make-a-claim__img-and-points-box">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="make-a-claim__img">
                                    <img src="~/user/assets/images/backgrounds/life-claim.jpg"
                                         alt="A supportive hand comforting another">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="make-a-claim__points-box">
                                    <p class="make-a-claim__points-text">
                                        The first and most important step is to
                                        inform us about the unfortunate event. Please keep the following
                                        information ready:
                                    </p>
                                    <ul class="make-a-claim__points-list list-unstyled">
                                        <li>
                                            <div class="icon">
                                                <span class="fa fa-check"></span>
                                            </div>
                                            <div class="text">
                                                <p>Policy number and name of the deceased policyholder.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="fa fa-check"></span>
                                            </div>
                                            <div class="text">
                                                <p>Date and cause of death.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="make-a-claim__title-2">Documents Required for a Death Claim</h3>
                    <p class="make-a-claim__text-2">
                        Submitting the correct documents is crucial for a swift and
                        hassle-free settlement. The following documents are typically required from the nominee:
                    </p>
                    <div class="make-a-claim__procedure-box">
                        <div class="make-a-claim__procedure-shape-1">
                            <img src="~/user/assets/images/update-10-02-2023/shapes/make-a-claim-procedure-shape-1.png"
                                 alt="">
                        </div>
                        <ul class="make-a-claim__procedure list-unstyled">
                            <li>
                                <div class="make-a-claim__procedure-icon-box">
                                    <div class="make-a-claim__procedure-icon">
                                        <span class=""><i class="fas fa-file-alt"></i></span>
                                    </div>
                                    <div class="make-a-claim__procedure-icon-count"></div>
                                </div>
                                <div class="make-a-claim__procedure-content">
                                    <h4 class="make-a-claim__procedure-title">Filled Claim<br>Form</h4>
                                </div>
                            </li>
                            <li>
                                <div class="make-a-claim__procedure-icon-box">
                                    <div class="make-a-claim__procedure-icon">
                                        <span class=""> <i class="fas fa-file-medical"></i></span>
                                    </div>
                                    <div class="make-a-claim__procedure-icon-count"></div>
                                </div>
                                <div class="make-a-claim__procedure-content">
                                    <h4 class="make-a-claim__procedure-title">
                                        Death Certificate<br>(Original)
                                    </h4>
                                </div>
                            </li>
                            <li>
                                <div class="make-a-claim__procedure-icon-box">
                                    <div class="make-a-claim__procedure-icon">
                                        <span class=""><i class="fas fa-id-card"></i></span>
                                    </div>
                                    <div class="make-a-claim__procedure-icon-count"></div>
                                </div>
                                <div class="make-a-claim__procedure-content">
                                    <h4 class="make-a-claim__procedure-title">
                                        Nominee's ID &<br>Bank Details
                                    </h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="make-a-claim__procedure-faq">
                        <div class="accrodion-grp" data-grp-name="faq-one-accrodion">
                            <div class="accrodion active">
                                <div class="accrodion-title">
                                    <h4>
                                        <span>?</span> How long does the life insurance claim settlement take?
                                    </h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            As per regulations, insurers must settle claims within 30 days of
                                            receiving all required documents. We strive to process and settle
                                            all genuine claims as quickly as possible.
                                        </p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                            <div class="accrodion">
                                <div class="accrodion-title">
                                    <h4><span>?</span> What if the original policy document is lost?</h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            If the original policy document is lost, you will need to submit a
                                            few additional documents, such as a 'Surety Bond' or an 'Indemnity
                                            Bond'. Please contact our support team, and we will guide you
                                            through this process.
                                        </p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                            <div class="accrodion last-chiled">
                                <div class="accrodion-title">
                                    <h4>
                                        <span>?</span> Are any other documents required in case of an accidental
                                        death?
                                    </h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            Yes, in the case of an unnatural or accidental death, a police report
                                            (FIR) and a post-mortem report are typically required for the claim
                                            to be processed.
                                        </p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="make-a-claim__right">
                    <div class="make-a-claim__claim-box">
                        <ul class="make-a-claim__claim-list list-unstyled">
                            <li class="active">
                                <a href="@Url.Action("MakeaMedicalclaim", "UserHome")">Health & Medical Claims<span class="icon-right-arrow1"></span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("MakeaMotorclaim", "UserHome")">Motor (Car/Bike) Claims<span class="icon-right-arrow1"></span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("MakeaLifeclaim", "UserHome")">Life Insurance Claims<span class="icon-right-arrow1"></span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("MakeaHomeclaim", "UserHome")">Home Insurance Claims<span class="icon-right-arrow1"></span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("MakeLoanAgainstPolicy", "UserHome")">Loan Against Policy<span class="icon-right-arrow1"></span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="insurance-details__need-help">
                        <div class="insurance-details__need-help-bg"
                             style="background-image: url('@Url.Content("~/user/assets/images/update-10-02-2023/resources/insurance-details-need-help-bg.jpg")')">
                        </div>
                        <div class="insurance-details__need-help-icon">
                            <span class="fa fa-phone"></span>
                        </div>
                        <h2 class="insurance-details__need-help-title">
                            We are here to help<br> in your time of
                            need
                        </h2>
                        <div class="insurance-details__need-help-contact">
                            <a href="tel:+9200368090">+92 (003) 68-090</a>
                            <p>Call our Dedicated Support Team</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Make a claim End-->
