@model IEnumerable<PolicyPro360.Models.Blog>
@{
    ViewData["Title"] = "Blogs - PolicyPro360";
    Layout = "_UserLayout";
}

<!--Page Header Start-->
<section class="page-header">
    <div class="page-header-bg" style="background-image: url('@Url.Content("~/user/assets/images/backgrounds/news.jpg")')">
    </div>
    <div class="page-header-shape-1"><img src="~/user/assets/images/shapes/page-header-shape-1.png" alt=""></div>
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="index.html">Home</a></li>
                <li><span>/</span></li>
                <li>News</li>
            </ul>
            <h2>Latest News & Articles</h2>
        </div>
    </div>
</section>
<!--Page Header End-->
<!--News Sidebar Start-->
<section class="news-sidebar">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-7">
                <div class="news-sideabr__left">
                    <div class="news-sideabr__content">
                        @foreach(var blog in Model)
                        {
                            <!--Blog Sidebar Single: Motor Insurance -->
                            <div class="news-sideabr__single">
                                <div class="news-sideabr__img">
                                    @if (!string.IsNullOrEmpty(@blog.FeaturedImageUrl))
                                    {
                                        <img src="@blog.FeaturedImageUrl" alt="@blog.Title"/>
                                    }
                                    else
                                    {
                                        <span class="text-muted">No Featured Image</span>
                                    }
                                </div>
                                <div class="news-sideabr__content-box">
                                    <ul class="list-unstyled news-sideabr__meta">
                                        <li><a href="@Url.Action("detailedNews", new { id = blog.Id })"><i class="far fa-calendar"></i> @blog.CreatedAt.ToString("MM-dd-yyyy")</a></li>
                                        <li><a href="@Url.Action("detailedNews", new { id = blog.Id })"><i class="far fa-comments"></i> @blog.AuthorName</a></li>

                                    </ul>
                                    <h3 class="news-sideabr__title">
                                        <a href="@Url.Action("detailedNews", new { id = blog.Id })">@blog.Title</a>
                                    </h3>
                                    <p class="news-sideabr__text">@blog.Summary</p>
                                    <div class="news-sideabr__bottom-btn-box">
                                        <a href="@Url.Action("detailedNews", new { id = blog.Id })" class="thm-btn news-sideabr__load-more-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                   
                </div>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="sidebar">
                    @* <div class="sidebar__single sidebar__search">
                        <form action="#" class="sidebar__search-form">
                            <input type="search" placeholder="Search articles...">
                            <button type="submit"><i class="icon-magnifying-glass"></i></button>
                        </form>
                    </div> *@
                    <div class="sidebar__single sidebar__post">
                        <h3 class="sidebar__title">Latest Posts</h3>
                        <ul class="sidebar__post-list list-unstyled">
                            @foreach (var recent in ViewBag.RecentBlogs as List<PolicyPro360.Models.Blog>)
                            {
                                <li>
                                    <div class="sidebar__post-image">
                                        @if (!string.IsNullOrEmpty(@recent.FeaturedImageUrl))
                                        {
                                            <img src="@recent.FeaturedImageUrl" alt="@recent.Title" />
                                        }
                                        else
                                        {
                                            <span class="text-muted">No Featured Image</span>
                                        }
                                    </div>
                                    <div class="sidebar__post-content">
                                        <h3>
                                            <span class="sidebar__post-content-meta">
                                                <i class="far fa-user-circle"></i> @recent.AuthorName
                                            </span>
                                            <a href="@Url.Action("detailedNews", new { id = recent.Id })">
                                                @recent.Title
                                            </a>
                                        </h3>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--News Sidebar End-->