﻿
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title> <!-- favicons Icons -->
	<link rel="apple-touch-icon" sizes="180x180" href="~/user/assets/images/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="~/user/assets/images/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="~/user/assets/images/favicons/favicon-16x16.png">
	<link rel="manifest" href="~/user/assets/images/favicons/site.webmanifest">
	<meta name="description" content="Insur HTML 5 Template ">

	<!-- fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com/">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&amp;display=swap"
		  rel="stylesheet">

	<link rel="stylesheet" href="~/user/assets/vendors/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/user/assets/vendors/animate/animate.min.css">
	<link rel="stylesheet" href="~/user/assets/vendors/animate/custom-animate.css">
	<link rel="stylesheet" href="~/user/assets/vendors/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="~/user/assets/vendors/jarallax/jarallax.css">
	<link rel="stylesheet" href="~/user/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css">
	<link rel="stylesheet" href="~/user/assets/vendors/nouislider/nouislider.min.css">
	<link rel="stylesheet" href="~/user/assets/vendors/nouislider/nouislider.pips.css">
	<link rel="stylesheet" href="~/user/assets/vendors/odometer/odometer.min.css">
	<link rel="stylesheet" href="~/user/assets/vendors/swiper/swiper.min.css">
	<link rel="stylesheet" href="~/user/assets/vendors/insur-icons/style.css">
	<link rel="stylesheet" href="~/user/assets/vendors/insur-two-icon/style.css">
	<link rel="stylesheet" href="~/user/assets/vendors/insur-four-icon/style.css">
	<link rel="stylesheet" href="~/user/assets/vendors/tiny-slider/tiny-slider.min.css">
	<link rel="stylesheet" href="~/user/assets/vendors/reey-font/stylesheet.css">
	<link rel="stylesheet" href="~/user/assets/vendors/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="~/user/assets/vendors/owl-carousel/owl.theme.default.min.css">
	<link rel="stylesheet" href="~/user/assets/vendors/bxslider/jquery.bxslider.css">
	<link rel="stylesheet" href="~/user/assets/vendors/bootstrap-select/css/bootstrap-select.min.css">
	<link rel="stylesheet" href="~/user/assets/vendors/vegas/vegas.min.css">
	<link rel="stylesheet" href="~/user/assets/vendors/jquery-ui/jquery-ui.css">
	<link rel="stylesheet" href="~/user/assets/vendors/timepicker/timePicker.css">
	<link rel="stylesheet" href="~/user/assets/vendors/ion.rangeSlider/css/ion.rangeSlider.min.css">


	<link rel="stylesheet" id="langLtr" href="~/user/assets/css/insur.css">
	<link rel="stylesheet" href="~/user/assets/css/color-7.css">
</head>
<body class="custom-cursor d-flex flex-column min-vh-100 ">

	<div class="custom-cursor__cursor"></div>
	<div class="custom-cursor__cursor-two"></div>




	<div class="preloader">
		<div class="preloader__image"></div>
	</div>
	<!-- /.preloader -->


	<div class="page-wrapper">
		<header class="main-header-nine">
			<div class="main-header-nine__shape"
				 style="background-image: url('@Url.Content("~/user/assets/images/update-15-2-2024/shapes/header-shape-1.png")');"></div>
			<div class="main-header-nine__top">
				<div class="container">
					<div class="main-header-nine__inner">
						<ul class="list-unstyled main-header-nine__info">
							<li class="d-flex align-items-center mb-2">
								<i class="icon me-2">
									<span class="icon-pin"></span>
								</i>
								<div class="text">
									<p class="mb-0">Suite 705, Business Avenue, Shahrah-e-Faisal, Karachi, Pakistan</p>
								</div>
							</li>
							<li class="d-flex align-items-center">
								<i class="icon me-2">
									<span class="icon-email"></span>
								</i>
								<div class="text">
									<p class="mb-0">
										<a href="mailto:support@policypro360.com">support@policypro360.com</a>
									</p>
								</div>
							</li>
						</ul>
						<div class="main-header-nine__social">
							<a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
							<a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
							<a href="https://www.pinterest.com/"><i class="fab fa-pinterest-p"></i></a>
							<a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
						</div>
					</div>
				</div>
			</div>
			<nav class="main-menu main-menu-nine">
				<div class="main-menu-nine__shape"
					 style="background-image: url('@Url.Content("~/user/assets/images/update-15-2-2024/shapes/header-shape-2.png")');"></div>
				<div class="main-menu-nine__wrapper">
					<div class="main-menu-nine__logo">
						<a href="@Url.Action("index","UserHome")">
							<img src="~/user/assets/images/update-15-2-2024/resources/logo-2.png" width="185" height="65" alt="insur">
						</a>
					</div>
					<div class="main-menu-nine__left">
						<div class="main-menu-nine__main-menu-box">
							<a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
							<ul class="main-menu__list">
								<li><a href="@Url.Action("index","UserHome")">Home</a></li>
								<li>
									<a href="@Url.Action("about","UserHome")">About Us </a>
								</li>
								<li class="dropdown">
									<a href="@Url.Action("insurance","UserHome")">Insurance</a>   
									<ul>

										<li><a href="@Url.Action("motor","UserHome")">Motor insurance</a></li>
										<li><a href="@Url.Action("life","UserHome")">Life insurance</a></li>
										<li>
											<a href="@Url.Action("home","UserHome")">Home insurance</a>
										</li>
										<li><a href="@Url.Action("medical","UserHome")">Medical insurance</a></li>

									</ul>
								</li>
							
								<li>
									<a href="@Url.Action("policy","UserHome")">Policies</a>
								</li>
								<li class="dropdown">
									<a href="@Url.Action("makeaclaim","UserHome")">Claims</a>
									<ul>
										<li>
											<a href="@Url.Action("MakeaMedicalclaim", "UserHome")">Health & Medical Claims</a>
										</li>
										<li>
											<a href="@Url.Action("MakeaMotorclaim", "UserHome")">Motor (Car/Bike) Claims</a>
										</li>
										<li>
											<a href="@Url.Action("MakeaLifeclaim", "UserHome")">Life Insurance Claims</a>
										</li>
										<li>
											<a href="@Url.Action("MakeaHomeclaim", "UserHome")">Home Insurance Claims</a>
										</li>
										<li>
											<a href="@Url.Action("MakeLoanAgainstPolicy", "UserHome")">Loan Against Policy</a>
										</li>
									</ul>
								</li>

								<li>
									<a href="@Url.Action("news","UserHome")">News</a>
								
								</li>
								<li>
									<a href="@Url.Action("faq","UserHome")">Faqs</a>

								</li>
								
								<li class="dropdown">
									<a href="#">Sign In</a>
									<ul>
										<li><a href="@Url.Action("SignIn","UserHome")">Sign In/Up</a></li>
										<li><a href="@Url.Action("Login","Company")">Register as Company</a></li>
									</ul>
								</li>
							
							</ul>
						</div>
					</div>

					<div class="main-menu-nine__right">
						<a href="#" class="main-menu-nine__search search-toggler">
							<i class="icon-magnifying-glass"></i>
						</a>

						<div class="main-menu-nine__call">
							<div class="main-menu-nine__call__icon"><i class="fas fa-phone-alt"></i></div>
							<div class="main-menu-nine__call__title">Emergency call</div>
							<a class="main-menu-nine__call__text" href="tel:9238008060">+92 3800 8060</a>
						</div>
						<a href="@Url.Action("contact","UserHome")" class="thm-btn thm-btn--eight">Get a Quote</a>
					</div>
				</div>
			</nav>
		</header>

		<div class="stricky-header stricked-menu main-menu main-menu-nine">
			<div class="sticky-header__content"></div><!-- /.sticky-header__content -->
		</div><!-- /.stricky-header -->
		<div>
			@RenderBody()
		</div>
		<!--Site Footer Four Start-->
		<footer class="site-footer-five site-footer-five--home-nine fixed-bottom">
			<div class="site-footer-five__shape-one"
				 style="background-image: url('@Url.Content("~/user/assets/images/update-15-2-2024/shapes/footer-shape-1.png")');"></div>

			<div class="site-footer-five__shape-two"
				 style="background-image: url('@Url.Content("~/user/assets/images/update-15-2-2024/shapes/footer-shape-2.png")');"></div>
			<div class="site-footer-five__top">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="00ms">
							<div class="site-footer-five__column site-footer-five__about">
								<h3 class="site-footer-five__title">About</h3>
								<p class="site-footer-five__about__text">
									Reliable Life, Medical, Motor & Home insurance to protect what matters most.
								</p>
								<form class="site-footer-five__about__form">
									<input type="email" placeholder="Email Address" name="email">
									<button type="submit"><i class="insur-four-icon-right-arrow"></i></button>
								</form>
								<div class="site-footer-five__about__social">
									<a href="https://facebook.com/">
										<i class="fab fa-facebook-f" aria-hidden="true"></i>
										<span class="sr-only">Facebook</span>
									</a>
									<a href="https://twitter.com/">
										<i class="fab fa-twitter" aria-hidden="true"></i>
										<span class="sr-only">Twitter</span>
									</a>
									<a href="https://pinterest.com/">
										<i class="fab fa-pinterest-p" aria-hidden="true"></i>
										<span class="sr-only">Pinterest</span>
									</a>
									<a href="https://instagram.com/">
										<i class="fab fa-instagram" aria-hidden="true"></i>
										<span class="sr-only">Instagram</span>
									</a>
								</div>
							</div>
						</div>
						<div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="100ms">
							<div class="site-footer-five__column site-footer-five__contact">
								<a href="index.html" class="site-footer-five__contact__logo">
									<img src="~/user/assets/images/update-15-2-2024/resources/footer-logo-twoo.png" width="159"
										 alt="insur">
								</a>
								<ul class="site-footer-five__contact__list list-unstyled">
									<li>
										<div class="site-footer-five__contact__icon">
											<i class="fas fa-globe"></i>
										</div>
										<div class="site-footer-five__contact__content">
											<p class="site-footer-five__contact__text">
												<a href="mailto:policypro360.com">policypro360@gmail.com</a>
											</p>
											<p class="site-footer-five__contact__text">
												<a href="@Url.Action("index", "userhome")">www.policypro360.com</a>
											</p>
										</div>
									</li>
									<li>
										<div class="site-footer-five__contact__icon">
											<i class="fas fa-map-marker-alt"></i>
										</div>
										<div class="site-footer-five__contact__content">
											<p class="site-footer-five__contact__text">

												Shahrah-e-Faisal, <br /> Karachi, Pakistan
											</p>
										</div>
									</li>
								</ul>
								<div class="site-footer-five__contact__call">
									<div class="site-footer-five__contact__call__icon">
										<i class="fas fa-phone-alt"></i>
									</div>
									<div class="site-footer-five__contact__call__title">Emergency call</div>
									<a class="site-footer-five__contact__call__text" href="tel:9238008060">
										+92 3800
										8060
									</a>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="200ms">
							<div class="site-footer-five__column site-footer-five__links clearfix">
								<h3 class="site-footer-five__title">Explore</h3>
								<ul class="site-footer-five__links__list list-unstyled clearfix">
									<li><a href="@Url.Action("index","UserHome")">Home</a></li>
									<li>
										<a href="@Url.Action("about","UserHome")">About Us </a>
									</li>
									<li>
									<li><a href="@Url.Action("insurance","UserHome")">Insurance</a></li>
									<li>
										<a href="policy-proposal.html">Policies</a>
									</li>
									<li>
										<a href="@Url.Action("makeaclaim","UserHome")">Claims</a>
										
									</li>
									<li>
										<a href="@Url.Action("faq","UserHome")">Faqs</a>
									</li>
									<li>
										<a href="@Url.Action("terms","UserHome")">Terms & Conditions</a>
									</li>
									<li>
										<a href="@Url.Action("privacy","UserHome")">Privacy Policy</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="300ms">
							<div class="site-footer-five__column site-footer-five__gallery clearfix">
								<h3 class="site-footer-five__title">Gallery</h3>
								<div class="site-footer-five__gallery__wrapper">
									<img src="~/user/assets/images/update-15-2-2024/resources/footer-widget-gallery-img-1.jpg"
										 alt="insur">
									<img src="~/user/assets/images/update-15-2-2024/resources/footer-widget-gallery-img-2.jpg"
										 alt="insur">
									<img src="~/user/assets/images/update-15-2-2024/resources/footer-widget-gallery-img-3.jpg"
										 alt="insur">
									<img src="~/user/assets/images/update-15-2-2024/resources/footer-widget-gallery-img-4.jpg"
										 alt="insur">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="site-footer-five__bottom">
				<div class="container">
					<p class="site-footer-five__bottom__text">
						© All Copyright 2025 by <a href="@Url.Action("index","UserHome")">policypro360.com</a>
					</p>
				</div>
			</div>
		</footer>
		<!--Site Footer Four End-->

	</div><!-- /.page-wrapper -->


	<div class="mobile-nav__wrapper">
		<div class="mobile-nav__overlay mobile-nav__toggler"></div>
		<!-- /.mobile-nav__overlay -->
		<div class="mobile-nav__content">
			<span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

			<div class="logo-box">
				<a href="index.html" aria-label="logo image">
					<img src="~/user/assets/images/resources/logo-2.png" width="143"
						 alt="">
				</a>
			</div>
			<!-- /.logo-box -->
			<div class="mobile-nav__container"></div>
			<!-- /.mobile-nav__container -->

			<ul class="mobile-nav__contact list-unstyled">
				<li>
					<i class="fa fa-envelope"></i>
					<a href="mailto:policypro360.com">policypro360@gmail.com</a>
				</li>
				<li>
					<i class="fa fa-phone-alt"></i>
					<a href="tel:+9238008060">
						+92 3800
						8060
					</a>
				</li>
			</ul><!-- /.mobile-nav__contact -->
			<div class="mobile-nav__top">
				<div class="mobile-nav__social">
					<a href="#" class="fab fa-twitter"></a>
					<a href="#" class="fab fa-facebook-square"></a>
					<a href="#" class="fab fa-pinterest-p"></a>
					<a href="#" class="fab fa-instagram"></a>
				</div><!-- /.mobile-nav__social -->
			</div><!-- /.mobile-nav__top -->



		</div>
		<!-- /.mobile-nav__content -->
	</div>
	<!-- /.mobile-nav__wrapper -->

	<div class="search-popup">
		<div class="search-popup__overlay search-toggler"></div>
		<!-- /.search-popup__overlay -->
		<div class="search-popup__content">
			<form action="#">
				<label for="search" class="sr-only">search here</label><!-- /.sr-only -->
				<input type="text" id="search" placeholder="Search Here...">
				<button type="submit" aria-label="search submit" class="thm-btn thm-btn--eight">
					<i class="icon-magnifying-glass"></i>
				</button>
			</form>
		</div>
		<!-- /.search-popup__content -->
	</div>
	<!-- /.search-popup -->


	<a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>


	<script src="~/user/assets/vendors/jquery/jquery-3.6.0.min.js"></script>
	<script src="~/user/assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/user/assets/vendors/jarallax/jarallax.min.js"></script>
	<script src="~/user/assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
	<script src="~/user/assets/vendors/jquery-appear/jquery.appear.min.js"></script>
	<script src="~/user/assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
	<script src="~/user/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
	<script src="~/user/assets/vendors/jquery-validate/jquery.validate.min.js"></script>
	<script src="~/user/assets/vendors/nouislider/nouislider.min.js"></script>
	<script src="~/user/assets/vendors/odometer/odometer.min.js"></script>
	<script src="~/user/assets/vendors/swiper/swiper.min.js"></script>
	<script src="~/user/assets/vendors/tiny-slider/tiny-slider.min.js"></script>
	<script src="~/user/assets/vendors/wnumb/wNumb.min.js"></script>
	<script src="~/user/assets/vendors/wow/wow.js"></script>
	<script src="~/user/assets/vendors/isotope/isotope.js"></script>
	<script src="~/user/assets/vendors/countdown/countdown.min.js"></script>
	<script src="~/user/assets/vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="~/user/assets/vendors/bxslider/jquery.bxslider.min.js"></script>
	<script src="~/user/assets/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
	<script src="~/user/assets/vendors/vegas/vegas.min.js"></script>
	<script src="~/user/assets/vendors/jquery-ui/jquery-ui.js"></script>
	<script src="~/user/assets/vendors/timepicker/timePicker.js"></script>
	<script src="~/user/assets/vendors/circleType/jquery.circleType.js"></script>
	<script src="~/user/assets/vendors/circleType/jquery.lettering.min.js"></script>
	<script src="~/user/assets/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
	<script src="~/user/assets/js/insur.js"></script>
</body>
@RenderSection("Scripts", required: false)
</html>