@model PolicyPro360.Models.Policy

@{
    ViewData["Title"] = "Edit A Motor Insurance Policy";
    Layout = "_CompanyLayout";
}

<main class="main-wrapper">
    <div class="main-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Edit Motor Insurance Policy Form</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Edit A Motor Insurance Policy
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="ms-auto">
                <div class="btn-group">
                    <a class="btn btn-grd-primary px-4 text-white" href="@Url.Action("Index", "CompanyPolicy", new { categoryId = @ViewBag.CategoryId })">
                        Show Motor Insurance policies
                    </a>
                </div>
            </div>

        </div>
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-xl-6">
                    <div class="card">
                        <div class="card-body p-4">
                            <h5 class="mb-4">Edit A Motor Insurance Policy</h5>

                            <form asp-controller="CompanyPolicy" asp-action="EditPolicy" method="post" enctype="multipart/form-data" class="row g-3">

                                <input type="hidden" asp-for="Id" />

                                <!-- Policy Name -->
                                <div class="col-md-12">
                                    <label asp-for="Name" class="form-label"></label>
                                    <div class="position-relative input-icon">
                                        <input asp-for="Name" class="form-control" placeholder="Enter policy name">
                                        <span class="position-absolute top-50 translate-middle-y">
                                            <i class="material-icons-outlined fs-5">person</i>
                                        </span>
                                    </div>
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>

                                <!-- Policy Description -->
                                <div class="col-md-12">
                                    <label asp-for="Description" class="form-label"></label>
                                    <div class="position-relative input-icon">
                                        <input asp-for="Description" class="form-control" placeholder="Enter policy description">
                                        <span class="position-absolute top-50 translate-middle-y">
                                            <i class="material-icons-outlined fs-5">description</i>
                                        </span>
                                    </div>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>

                                @* policy type id fetch from url *@
                                <input type="hidden" name="PolicyTypeId" value="@ViewBag.CategoryId" />


                                <!-- Policy SumInsured -->
                                <div class="col-md-12">
                                    <label asp-for="SumInsured" class="form-label"></label>
                                    <div class="position-relative input-icon">
                                        <input asp-for="SumInsured" class="form-control" placeholder="Enter Sum Insured">
                                        <span class="position-absolute top-50 translate-middle-y">
                                            <i class="material-icons-outlined fs-5">shield</i>
                                        </span>
                                    </div>
                                    <span asp-validation-for="SumInsured" class="text-danger"></span>
                                </div>

                                <!-- Policy Premium Amount  -->
                                <div class="col-md-12">
                                    <label asp-for="Premium" class="form-label"></label>
                                    <div class="position-relative input-icon">
                                        <input asp-for="Premium" class="form-control" placeholder="Enter Premium Amount">
                                        <span class="position-absolute top-50 translate-middle-y">
                                            <i class="material-icons-outlined fs-5">diamond</i>
                                        </span>
                                    </div>
                                    <span asp-validation-for="Premium" class="text-danger"></span>
                                </div>

                                <!-- Policy Tenure -->
                                <div class="col-md-12">
                                    <label asp-for="Tenure" class="form-label"></label>
                                    <div class="position-relative input-icon">
                                        <input asp-for="Tenure" class="form-control" placeholder="Enter Policy Tenure">
                                        <span class="position-absolute top-50 translate-middle-y">
                                            <i class="material-icons-outlined fs-5">calendar_today</i>
                                        </span>
                                    </div>
                                    <span asp-validation-for="Tenure" class="text-danger"></span>
                                </div>

                                <!-- Policy TermsConditions -->
                                <div class="col-md-12">
                                    <label asp-for="TermsConditions" class="form-label"></label>
                                    <div class="position-relative input-icon">
                                        <input asp-for="TermsConditions" class="form-control" placeholder="Enter Terms & Conditions">
                                        <span class="position-absolute top-50 translate-middle-y">
                                            <i class="material-icons-outlined fs-5">description</i>
                                        </span>
                                    </div>
                                    <span asp-validation-for="TermsConditions" class="text-danger"></span>
                                </div>

                                <!-- Policy Brochure Upload -->
                                <div class="col-md-12">
                                    <label class="form-label">Policy Brochure (Upload Image)</label>
                                    <div class="position-relative input-icon">
                                        <input type="file" name="BrochureFile" class="form-control" accept="image/*" />
                                        <span class="position-absolute top-50 translate-middle-y">
                                            <i class="material-icons-outlined fs-5">upload_file</i>
                                        </span>
                                    </div>
                                    <span asp-validation-for="BrochureUrl" class="text-danger"></span>
                                </div>


                                <!-- Dynamic Attributes -->


                                <!-- Coverage Type -->
                                <div class="col-md-12">
                                    <label for="coverage_type" class="form-label">Coverage Type</label>
                                    <div class="position-relative input-icon">
                                        <input type="hidden" name="Attributes[0].Key" value="coverage_type" />
                                        <input type="text" name="Attributes[0].Value" class="form-control" id="coverage_type" value="@ViewBag.CoverageType" placeholder="Coverage Type">
                                        <span class="position-absolute top-50 translate-middle-y">
                                            <i class="material-icons-outlined fs-5">support</i>
                                        </span>
                                    </div>
                                    <span class="text-danger"></span>
                                </div>

                                <!-- Vehicle Type -->
                                <div class="col-md-12">
                                    <label for="vehicle_type" class="form-label">Vehicle Type</label>
                                    <div class="position-relative input-icon">
                                        <input type="hidden" name="Attributes[1].Key" value="vehicle_type" />
                                        <input type="text" name="Attributes[1].Value" class="form-control" id="vehicle_type" value="@ViewBag.VehicleType" placeholder="Vehicle Type" />
                                        <span class="position-absolute top-50 translate-middle-y">
                                            <i class="material-icons-outlined fs-5">category</i>
                                        </span>
                                    </div>
                                    <span class="text-danger"></span>
                                </div>

                                <!--Engine Capacity (cc) -->
                                <div class="col-md-12">
                                    <label for="engine_capacity" class="form-label">Engine Capacity (cc)</label>
                                    <div class="position-relative input-icon">
                                        <input type="hidden" name="Attributes[2].Key" value="engine_capacity" />
                                        <input type="number" name="Attributes[2].Value" class="form-control" id="engine_capacity" value="@ViewBag.EngineCapacity" placeholder="Engine Capacity (cc)" />
                                        <span class="position-absolute top-50 translate-middle-y">
                                            <i class="material-icons-outlined fs-5">category</i>
                                        </span>
                                    </div>
                                    <span class="text-danger"></span>
                                </div>

                                <!-- Vehicle Age Limit -->
                                <div class="col-md-12">
                                    <label for="vehicle_age_limit" class="form-label">Vehicle Age Limit</label>
                                    <div class="position-relative input-icon">
                                        <input type="hidden" name="Attributes[3].Key" value="vehicle_age_limit" />
                                        <input type="number" name="Attributes[3].Value" class="form-control" id="vehicle_age_limit" value="@ViewBag.VehicleAgeLimit" placeholder="Vehicle Age Limit" />
                                        <span class="position-absolute top-50 translate-middle-y">
                                            <i class="material-icons-outlined fs-5">calendar_today</i>
                                        </span>
                                    </div>
                                    <span class="text-danger"></span>
                                </div>

                                <!-- Insured Declared Value -->
                                <div class="col-md-12">
                                    <label for="idv" class="form-label">Insured Declared Value</label>
                                    <div class="position-relative input-icon">
                                        <input type="hidden" name="Attributes[4].Key" value="idv" />
                                        <input type="number" name="Attributes[4].Value" class="form-control" id="idv" value="@ViewBag.IDV" placeholder="Insured Declared Value" />
                                        <span class="position-absolute top-50 translate-middle-y">
                                            <i class="material-icons-outlined fs-5">shield</i>
                                        </span>
                                    </div>
                                    <span class="text-danger"></span>
                                </div>

                                <!-- Add-on Covers -->
                                <div class="col-md-12">
                                    <label for="add_on_covers" class="form-label">Add-on Covers</label>
                                    <div class="position-relative input-icon">
                                        <input type="hidden" name="Attributes[5].Key" value="add_on_covers" />
                                        <input type="text" name="Attributes[5].Value" class="form-control" id="add_on_covers" value="@ViewBag.AddOnCovers" placeholder="Add-on Covers" />
                                        <span class="position-absolute top-50 translate-middle-y">
                                            <i class="material-icons-outlined fs-5">category</i>
                                        </span>
                                    </div>
                                    <span class="text-danger"></span>
                                </div>

                                <!-- Claim Limit -->
                                <div class="col-md-12">
                                    <label for="claim_limit" class="form-label">Claim Limit</label>
                                    <div class="position-relative input-icon">
                                        <input type="hidden" name="Attributes[6].Key" value="claim_limit" />
                                        <input type="text" name="Attributes[6].Value" class="form-control" id="claim_limit" value="@ViewBag.ClaimLimit" placeholder="Claim Limit" />
                                        <span class="position-absolute top-50 translate-middle-y">
                                            <i class="material-icons-outlined fs-5">description</i>
                                        </span>
                                    </div>
                                    <span class="text-danger"></span>
                                </div>

                                <!-- exclusions -->
                                <div class="col-md-12">
                                    <label for="exclusions" class="form-label">Exclusions</label>
                                    <div class="position-relative input-icon">
                                        <input type="hidden" name="Attributes[7].Key" value="exclusions" />
                                        <input type="text" name="Attributes[7].Value" class="form-control" id="exclusions" value="@ViewBag.Exclusions" placeholder="Exclusions" />
                                        <span class="position-absolute top-50 translate-middle-y">
                                            <i class="material-icons-outlined fs-5">stars</i>
                                        </span>
                                    </div>
                                    <span class="text-danger"></span>
                                </div>

                                <!-- Category Status -->
                                <div class="col-md-12">
                                    <label asp-for="Active" class="form-label"></label>
                                    <div class="form-check">
                                        <input asp-for="Active" class="form-check-input" type="checkbox" />
                                        <label class="form-check-label" for="Active">Yes</label>
                                    </div>
                                    <span asp-validation-for="Active" class="text-danger"></span>
                                </div>

                                <!-- Submit and Reset Buttons -->
                                <div class="col-md-12">
                                    <div class="d-md-flex d-grid align-items-center gap-3">
                                        <button type="submit" class="btn btn-grd-primary px-4 text-white">Submit</button>
                                        <button type="reset" class="btn btn-grd-royal px-4 text-white">Reset</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



